<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识图谱创建首页</title>
</head>
<body>
    <h1>1. 数据文件上传</h1>
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data" >
        <input type="file" id="upload" name="upload" /> <br/>
        <input type="submit" value="点击上传" />
    </form>
    {% for msg in upload_return_msg %}
    <p>{{ msg }}</p>
    {% endfor %}
    <h1>2. 构建图谱</h1>
    <form id="kg-construction-form" action="/construct" method="post" enctype="multipart/form-data" >
        <label for="select">请输入数据文件名称：</label>
        <input type="text" id="select" name="select"/> <br/>
        <label for="db_name">请输入数据库名称：</label>
        <input type="text" id="db_name" name="db_name"/> <br/>
        <input type="submit" value="点击构建" />
    </form>
    {% for msg in construction_return_msg %}
        <p>{{ msg }}</p>
    {% endfor %}
    {% for url in db_url %}
        <a href="{{ url }}">跳转到图谱展示</a>
    {% endfor %}
</body>
</html>
